:root {
	--col-pal1: #f6f4ec;
	--col-pal2: #ff436c;
	--col-pal3: #902acf;
	--col-pal4: #181818;
	--col-pal5: #C9C9C9;
	--col-pal6: #ffd6f5;
}

* {
	box-sizing: border-box;
	margin: 0;
}

html {
	font-family: "Signika", sans-serif;
	font-size: 1.1rem;
	font-weight: 600;
	line-height: 1.6rem;
	color: var(--col-pal4);
	background-color: var(--col-pal1);
}

.container {
	margin: 0 1rem;
}

@media (min-width: 576px) {
    .container {
        margin: 0 1.2rem;
    }
}

@media (min-width: 768px) {
    .container {
        margin: 0 4rem;
    }
}

@media (min-width: 992px) {
    .container {
        margin: 0 8rem;
    }
}

@media (min-width: 1440px) {

    .container {
        margin: 0 18rem;
    }
}

.pre-nav {
	height: 3rem;
	background-color: var(--col-pal3);
}

.pre-nav-container {
	height: 3rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.pre-nav-link {
	letter-spacing: 0.1rem;;
	text-decoration: none;
	color: var(--col-pal1);
}

.pre-nav-link:hover {
	color: var(--col-pal2);
}

.pre-nav-socials {
	display: flex;
	gap: 1rem;
}

.fa {
	text-decoration: none;
	color: var(--col-pal1);
	font-size: 1.4rem;
}

.fa:hover {
	color: var(--col-pal2);
}

.nav-container {
	height: 4rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav {
	display: block;
	background-color: var(--col-pal1);
	height: 4rem;
}

.nav-logo-link {
	text-decoration: none;
	color: var(--col-pal3);
	font-family: "Caveat", cursive;
	font-size: 2.2rem;
	font-weight: 700;
}

.nav-logo-link:hover {
	color: var(--col-pal2);
}

.nav-items {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
}

.nav-item {
	display: inline-block;
	text-decoration: none;
	color: var(--col-pal4);
}

.nav-item:hover {
	text-decoration: underline;
	color: var(--col-pal2);
}

.nav-item-contact {
	padding: 0.28rem;
	background-color: var(--col-pal3);
	color: var(--col-pal1);
}

.nav-item-contact:hover {
	background-color: var(--col-pal2);
	text-decoration: underline;
	color: var(--col-pal4);
}

.footer {
	background-color: var(--col-pal1);
}

.footer-container {
	padding: 2rem 0;
	display: flex;
	justify-content: space-between;
}

.footer-socials {
	display: flex;
	/* padding-top: 1.2rem; */
	gap: 1rem;
}

.footer-socials .fa {
	color: var(--col-pal3);
}

.footer-socials .fa:hover{
	color: var(--col-pal2);
}

.footer-contact {
	display: flex;
	flex-direction: column;
}

.footer-contact-link {
	text-decoration: none;
	color: var(--col-pal4);
}

.footer-contact-link:hover {
	color: var(--col-pal2);
	text-decoration: underline;
}

.footer-sitemap {
	display: flex;
	flex-direction: column;
}

.footer-sitemap-item {
	text-decoration: none;
	color: var(--col-pal4);
}

.footer-sitemap-item:hover {
	color: var(--col-pal2);
	text-decoration: underline;
}
